{% extends 'base.html' %} {% block content %}
<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About us</h1>
      <p class="lead fw-normal text-white-50 mb-0">
        Welcome to my ecommerce shoo
      </p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <br />
        <br />
        <p aligh="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          sodales ante sed mattis elementum. Nullam imperdiet nunc at tristique
          imperdiet. Aenean accumsan, magna ut pulvinar posuere, est erat
          venenatis purus, vel hendrerit est metus a libero. Integer id mollis
          leo, eget porta elit. Aliquam eget dolor sit amet lacus auctor.
        </p>
        <br />
      </div>
    </center>
  </div>
</div>
{%endblock%}
